
//Nav Menu
.navbar-brand-text {
    @extend .px-2;
    font-family: 'Montserrat';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    color: $primary;
}

.nav-link {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.55);
}
.nav-link.active {
    color: rgba(123, 148, 201, 0.9) !important;
}
.nav-link:hover {
    color: $nav-link-color !important;
}

.dropdown-menu {
    z-index: 1021 !important;
}

.dropdown-menu .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

//Hero Carousel
.carousel-control-prev, .carousel-control-next {
    width: 7%;
}

.carousel-control-prev-icon::after, .carousel-control-next-icon::after {
    font-family: $fa-style-family; //set in FontAwesome/_variables.scss (Default FA 6 Free)
}

.full-width-image-title {
    color: $light;
    @extend .pb-2;
}

.full-width-image-subheading {
    color: $light;
}

// Back to Top button
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #5777ba !important;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #748ec6;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }


/* --------------------------------------------------------------
# Hero Section
-------------------------------------------------------------- */

#hero {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 140px 0 100px 0;
    max-height: 500px;
  }
  
  #hero .lottie-anim {
    max-height: 500px;
    margin: auto;
    max-width: 500px;
  }
  
  #hero::before {
    content: "";
    position: absolute;
    right: -100%;
    top: 20%;
    width: 250%;
    height: 200%;
    z-index: -1;
    background-color: #e8ecf5;
    transform: skewY(135deg);
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h2 {
    color: #515f7d;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 700;
  }
  
  @media (max-width: 991px) {
    #hero {
      text-align: center;
    }
  }
  
  @media (max-width: 991px) {
    #hero .hero-img {
      text-align: center;
    }
  }
  
  @media (max-width: 991px) {
    #hero .hero-img img {
      width: 60%;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 768px) {
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img {
        display: none;
    }
  }
  

/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */

.footer-clean {
    background-color: #fff;
    padding: 0 0 30px 0;
    color: #47536e;
    font-size: 14px;
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
    float: left;
    color: #47536e;
    /*opacity: 0.6;*/
}

@media (max-width: 768px) {
    .footer-clean .copyright {
    float: none;
    text-align: center;
    padding: 5px 0;
    }
}


/* --------------------------------------------------------------
# Contact
-------------------------------------------------------------- */

.contact {
    padding: 20px 40px;
    background: #f1f3f6;
    color: #47536e;
    text-align: center;
    border-top: 1px solid #fff;
  }

.contact form {
  width: 90%;
  margin: 0 auto;
  padding: 0px 20%;
  color: #fff;
}


/* --------------------------------------------------------------
# Sections General
-------------------------------------------------------------- */

  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f2f5fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5777ba;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  .products {
      margin-top: 30px;
  }

  .section-graphic-none {
    .section-content {
        @extend .col-lg-10;
        @extend .offset-lg-1; 
    }
  }

  .section-graphic-above {
    .section-content {
        @extend .col-lg-10; 
        @extend .col-xl-10; 
        @extend .col-xxl-8; 
        @extend .offset-lg-1; 
        @extend .offset-xl-1; 
        @extend .offset-xxl-2;
    }
    .section-graphic {
        @extend .text-center;
        @extend .pb-5;
        @extend .order-first;
    }
  }

  .section-graphic-below {
    .section-content {
        @extend .col-lg-10; 
        @extend .col-xl-10; 
        @extend .col-xxl-8; 
        @extend .offset-lg-1; 
        @extend .offset-xl-1; 
        @extend .offset-xxl-2;
    }
    .section-graphic {
        @extend .text-center;
        @extend .pt-5;
        @extend .order-last;
    }
  }

  .section-graphic-right {
    .section-content { 
        @extend .d-flex; 
        @extend .align-items-stretch; 
        @extend .justify-content-center; 
        @extend .col-12;
        @extend .col-lg-7;
    }
    .section-graphic {
        @extend .d-flex; 
        @extend .justify-content-center; 
        @extend .col-12; 
        @extend .col-xl-5; 
        @extend .col-lg-5; 
        @extend .text-center;
        @extend .order-first; 
        @extend .pb-5;
        @extend .order-md-last;
        @extend .pb-md-0;
    }
  }

  .section-graphic-left {
    .section-content { 
        @extend .d-flex; 
        @extend .align-items-stretch; 
        @extend .justify-content-center; 
    }
    .section-graphic {
        @extend .d-flex; 
        @extend .justify-content-center; 
        @extend .col-12; 
        @extend .col-xl-5; 
        @extend .col-lg-5; 
        @extend .text-center;
        @extend .order-last; 
        @extend .pb-5;
        @extend .order-md-first;
        @extend .pb-md-0;
    }
  }
  

  .icon-box {
    margin: 25px 0;
  }
  
  .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 75px;
  }
  
  .icon-box i {
    font-size: 48px;
    float: left;
    color: #5777ba;
  }
  
  .icon-box p {
    font-size: 15px;
    color: #979aa1;
    margin-left: 75px;
  }



/* --------------------------------------------------------------
# Team Section
-------------------------------------------------------------- */

.team {
  background-color: #f2f5fa;

  .team-member {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 10px 30px 60px;
    min-height: 200px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
    position: relative;
    background: #fff;
    max-width: none;
    width: inherit !important;

    > :first-child {
        box-shadow: 0px 5px 5px 0px #adb5bd;
        width: 90px;
        border-radius: 10px;
        border: 6px solid #fff;
        position: absolute;
        left: -45px;
        filter: grayscale(1);
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 0;
        color: #111;
    }
    h4 {
        font-size: 14px;
        color: #999;
        margin: 0;
    }
        .team-description {
        /*font-style: italic;*/
        margin: 15px auto 15px auto;
        font-size: 13px;
    }
  }
}